/* Golos Text */
@font-face {
    font-family: 'Golos Text';
    src: url("@/assets/fonts/golostext/GolosText-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url("@/assets/fonts/golostext/GolosText-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url("@/assets/fonts/golostext/GolosText-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url("@/assets/fonts/golostext/GolosText-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url("@/assets/fonts/golostext/GolosText-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Neue */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/helveticaneue.woff2') format('woff2');
    font-weight: 400; /* regular */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/helveticaneue-medium.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/helveticaneue-medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('@/assets/fonts/helvetica/helveticaneue-thin.woff2') format('woff2');
    font-weight: 100; /* Thin */
    font-style: normal;
    font-display: swap;
}

/* Euclid circular */
/*@font-face {*/
/*    font-family: 'Euclid circular';*/
/*    src: url('@/assets/fonts/euclid/Euclid-Circular-Bold.woff2') format('woff2');*/
/*    font-weight: 1000; !* Bold *!*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/


/*@font-face {*/
/*    font-family: 'Euclid circular';*/
/*    src: url('@/assets/fonts/euclid/Euclid-Circular-Medium.woff2') format('woff2');*/
/*    font-weight: 600; !* Medium *!*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

/*@font-face {*/
/*    font-family: 'Euclid circular';*/
/*    src: url('@/assets/fonts/euclid/Euclid-Circular-Regular.woff2') format('woff2');*/
/*    font-weight: 400; !* Regular *!*/
/*    font-style: normal;*/
/*    font-display: swap;*/
/*}*/

@font-face {
    font-family: 'Euclid circular';
    src: url('@/assets/fonts/euclid/Euclid-Circular-SemiBold.ttf');
    font-weight: 600; /* Semi Bold */
    font-style: normal;
    font-display: swap;
}